.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


.Bar {
  flex: 0 0 0px;
  display: flex;
  flex-direction: row;
}

.Bar_item {
  flex: 1 1 5vw;
}

.Bar_textArea {
  flex: 19 19 5vw;
  overflow-y: auto;
  resize: vertical;
}

.MainPage {
  flex: 1 1 5vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.MainPage_tab {
  flex: 1 1 10vh;
  display: flex;
  flex-direction: column;
}

.MainPage_title {
  text-align: center;
  font-weight: bold;
}

.MainPage_tabItem {
  padding: 0px;
  margin: 0em;
  overflow-y: auto;
  flex: 1 1 10vw;
  border: 2px solid;
  margin: -1px;
}

.MainPage_messages {
  padding-inline-start: 2em;
  padding-inline-end: 2em;
  margin: 0em;
  overflow-y: auto;
  flex: 5 5 10vw;
}

.ListItem {
  background-color: #DDD;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  text-align: center;
  list-style-type: none;
}

.Message__left {
  background-color: #DDD;
  text-align: left;
  padding: 1em 1em 1em 0em;
  list-style-type: none;
}

.Message__right {
  background-color: #DDD;
  text-align: right;
  padding: 1em 0em 1em 1em;
  list-style-type: none;
}

.Message__left > dd,
.Message__right > dd {
  margin-inline-start: 2em;
  margin-inline-end: 2em;
}

.Message_img {
  max-width:100%;
  max-height: 80vh;
}

.Settings {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  opacity: 0.3;
  background-color: #0FC;
  z-index: 998;
}

.SettingItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 999;
}

.CloseButton {
  position: absolute;
  right: 0.5vw;
  top: 0.5vh;
  z-index: 999;
}

.SettingItem_input {
  display: block;
}